.texto{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
}
.sub-welcome{
    color: #ffee58;
    font-size: 4vh;
    text-shadow: 1px 1px 1px #cec047,
        1px 2px 1px #a19738,
        1px 3px 1px #a19738,
        1px 4px 1px #a19738,
        1px 5px 1px #a19738,
    1px 9px 3px rgba(16,16,16,0.4),
    1px 11px 5px rgba(16,16,16,0.2),
    1px 12px 17px rgba(16,16,16,0.2)
}
.welcome {
    position: unset;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 10vh;
    font-weight: 700;
    color: #ffee58;
    text-shadow: 1px 1px 1px #cec047,
        1px 2px 1px #cec047,
        1px 3px 1px #cec047,
        1px 4px 1px #cec047,
        1px 5px 1px #cec047,
        1px 6px 1px #cec047,
        1px 7px 1px #cec047,
        1px 8px 1px #cec047,
        1px 9px 1px #cec047,
        1px 10px 1px #cec047,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}
.footer{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;;
    filter: blur(-1px);
    padding: 0px 20px;
    background-color: transparent;
    font-family: "Times New Roman", Times, serif;
    border: 1px solid white ;
    border-radius: 20px;
}