:root{
  --primary:#673F02;
  --secondary:#9c5e01;
  --terciary:#7a5d31;
}
.shadow{
  text-shadow: 0px 0px 2px darkgoldenrod,
    0px 3px 8px rgb(54, 54, 54) !important;
}
nav{
  padding: 0 10px 0 10px;
  /* background-color: var(--primary); */
  background-color: var(--primary);
}
.btn:hover{
  background-color: #ffee58;
}
nav .right{
  position: absolute;
  top: 0px;
  right: 0px;
}
.input-field label {
  color: white;
}

.nav-wrapper form{
  margin: auto;
  width: 50%;
}

.nav-wrapper .input-field{
  padding-top: 7px;
}

.nav-wrapper form #search{
  height: 50px;
}


nav .right img{
  margin: 17px;
  height: 30px;
  width: 30px;
  border: 2px solid white;
  cursor: pointer;
}

nav .right .imgProfil a{
  height: 64px;
}
.sidenav-trigger{
  margin: 0px !important;
}
.hidden{
  display: none;
}